<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,236},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,365},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,227},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,403},{86,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{86,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e10.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,399},{86,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{86,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,152},{90,80}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{90,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,277},{86,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{86,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,152},{88,62}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{88,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e14.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{56,60}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{56,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{80,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{80,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,281},{88,78}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{88,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,96}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{106,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{120,106}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{126,108}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,282},{112,70}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{112,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,152},{82,74}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{82,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{84,74}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frenzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,148}}</string>
                <key>sourceSize</key>
                <string>{105,148}</string>
            </dict>
            <key>frenzyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,227},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,236},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,371},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,323},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>iconLaserFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,150},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>iconMachinegun.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,242},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>iconRailgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,437},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>iconRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,371},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>iconTrishoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,244},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>iconkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,217},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>killR.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,365},{32,10}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,379},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>laser_collision0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,242},{37,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>laser_collision1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,244},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>laser_collision2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,365},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>laser_opening.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,470},{19,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,67}}</string>
                <key>sourceSize</key>
                <string>{19,67}</string>
            </dict>
            <key>laser_stretch.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,509},{19,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,1}}</string>
                <key>sourceSize</key>
                <string>{19,1}</string>
            </dict>
            <key>laserfade.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,491},{527,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,19}}</string>
                <key>sourceSize</key>
                <string>{527,19}</string>
            </dict>
            <key>laserplug.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,470},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,215},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,310},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,310},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading12.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,217},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,311},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,311},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,311},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,217},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,217},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,130},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,130},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>loading9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,371},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>missile_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,470},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,244},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>plane10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,73},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,144},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,215},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,308},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,394},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,73},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,144},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,237},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,332},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,395},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane21_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,73},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane22_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,144},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane23_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,239},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,333},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,240},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane26_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,399},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane27_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,399},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane28_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,337},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,399},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane30_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,73},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,146},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,84},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,146},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,252},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,337},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>railgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,227},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>revenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,227},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,404},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,130},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>throttleFlame.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,130},{27,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{27,20}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>trishoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,365},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>turbo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,84},{70,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,88},{70,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,90},{70,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,265},{70,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{70,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,470},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>wingPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,470},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2adeafee65fb38943072afbd907d3810:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
