<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,23},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>btn_fashe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>btn_fashe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>btn_jiasu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,529},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>btn_jiasu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,503},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,261},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,366},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,250},{86,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{86,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,23},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e10.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,162},{86,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{86,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,261},{90,80}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{90,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e12.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,74},{86,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{86,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,312},{88,62}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{88,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e14.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,255},{56,60}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{56,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,307},{80,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{80,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,217},{88,78}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{88,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{106,96}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{106,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,153},{120,106}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,130},{126,108}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,240},{112,70}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{112,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e8.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,338},{82,74}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{82,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,389},{84,74}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>frenzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,23},{105,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,148}}</string>
                <key>sourceSize</key>
                <string>{105,148}</string>
            </dict>
            <key>frenzyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,375},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,343},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,169},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>hpBgEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,233},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>hpHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,223},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>hpNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,213},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>hp_leak.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,203},{4,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,8}}</string>
                <key>sourceSize</key>
                <string>{4,8}</string>
            </dict>
            <key>iconLaserFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>iconMachinegun.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,430},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>iconRailgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,87},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>iconRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,342},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>iconTrishoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,131},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>iconkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,376},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,64},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>inputArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,339},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>inputCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>killR.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,374},{32,10}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,317},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>laser_collision0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,312},{37,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>laser_collision1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,317},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>laser_collision2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,458},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>laser_opening.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,184},{19,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,67}}</string>
                <key>sourceSize</key>
                <string>{19,67}</string>
            </dict>
            <key>laser_stretch.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,87},{19,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,1}}</string>
                <key>sourceSize</key>
                <string>{19,1}</string>
            </dict>
            <key>laserfade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{527,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,19}}</string>
                <key>sourceSize</key>
                <string>{527,19}</string>
            </dict>
            <key>laserplug.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,375},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,351},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>missile_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,375},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,288},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>plane10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,476},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,459},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,459},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,459},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,441},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,441},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,441},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,589},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,574},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,521},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,467},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane21_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,441},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane22_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,379},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane23_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,379},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,527},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane26_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane27_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,512},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane28_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,465},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,450},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,450},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane30_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,405},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,379},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,414},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,397},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,397},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,397},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,317},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>plane9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,317},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>railgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,383},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>revenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,386},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{208,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,210}}</string>
                <key>sourceSize</key>
                <string>{208,210}</string>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>rock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,202}}</string>
                <key>sourceSize</key>
                <string>{199,202}</string>
            </dict>
            <key>rock4.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,203},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>skull.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,159},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>textBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,253},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>throttleFlame.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,130},{27,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{27,20}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>trishoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,291},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>turbo0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,343},{70,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,317},{70,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{70,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{70,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>turbo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,183},{70,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{70,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,395},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>wingPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,375},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ef5d7a01810ab918e06024e2aefc35:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
